<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/" class="navbar-brand">General Delivery</a>
</nav>
<img style="display: block; margin: auto" width="300" alt="Logo" src="../assets/logo.png">

<div class="card m-1">
  <div class="card-body">
    <a routerLink="/" id="goback">Volver Atras</a>
  
    <h2>Crear cuenta!</h2>
    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" autocomplete="off">
      <div class="form-group">
        <input type="email"
        placeholder="Email.."
        (ngModel)="email"
        name="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        class="form-control"
        #email="ngModel"
        required>
        <small *ngIf="email.hasError('required') && email.touched"  class="text-danger">
          Ingrese un email.
        </small>
        <small *ngIf="email.errors?.pattern" class="text-danger">
          Ingrese un correo valido.
        </small>
      </div>
      <div class="form-group">
        <input type="password"
        placeholder="Password"
        (ngModel)="password"
        name="password"
        minlength="7"
        class="form-control"
        #pass="ngModel"
        required>
        <small *ngIf="pass.hasError('required') && pass.touched"  class="text-danger">
          Ingrese una contraseña.
        </small>
        <small *ngIf="pass.hasError('minlength')" class="text-danger">
          Ingrese una contraseña con un minimo de 7 caracteres.
        </small>
      </div>
      <div class="form-group">
        <button type="submit"
          [disabled]="!formData.valid"
          class="btn btn-success">
          <i class="fas fa-check"></i> Crear mi cuenta
        </button>
      </div> 
    </form>
  </div>
</div>