<div class="card m-1">
  <div class="card-body text-center">
    <div class="form-group">
      
      <button (click)='loginFB()' id="fb" class="btn btn-primary btn-block" > <i class="fab fa-facebook-square"></i> Login FB</button><br>
      <button (click)='loginGoogle()' id="google" class="btn btn-light btn-block"><i class="fab fa-google"></i> Login Google</button><br>
      <button routerLink="/login-email" id="email" class="btn btn-secondary btn-block">Login Email</button><br>
    
      <a routerLink='/signup' routerLinkActive='active' class="alc">Sin cuenta? <strong>Crea una!</strong> </a>
    
    </div>
  </div>
</div>